<mat-card class="card">
  <mat-card-header>
    <mat-card-title [ngStyle]="{color: article.colors.titleColor}">{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
    <div mat-card-avatar>
      <img class="avatar" [src]="article.image" />
    </div>
  </mat-card-header>
   <mat-card-content [ngStyle]="{background: article.colors.backgroundColor}">
     <p [ngStyle]="{color: article.colors.fontColor}">{{article.content}}</p>
   </mat-card-content>
   <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button 
              (click)="openLink(article.link)">
                                LINK</button>
      <button mat-raised-button>LIKE</button>
      <button mat-raised-button>SHARE</button>
      <button mat-raised-button (click)="toggleCustomization()">Customize</button>
   </mat-card-actions>
   <div *ngIf="showCustomization" fxLayout="row" fxLayoutAlign="space-between stretch">
     <div fxFlex="88">
       <mat-expansion-panel>
           <mat-expansion-panel-header>
             <mat-panel-title>Customization
             </mat-panel-title>
          </mat-expansion-panel-header>
        <app-color-picker [active]="true" 
                          [color]="article.colors.titleColor"
                          [heading]="'Title'" 
                          (event)="setColor(article, 'title', $event)">
        </app-color-picker>
        <app-color-picker [active]="true" 
                          [color]="article.colors.backgroundColor"
                          [heading]="'Background'" 
                          (event)="setColor(article, 'background', $event)">
        </app-color-picker>

        <app-color-picker [active]="true" 
                          [color]="article.colors.fontColor"
                          [heading]="'Font'" 
                          (event)="setColor(article, 'font', $event)">
        </app-color-picker>

        <app-color-picker [active]="true" 
                          [color]="article.colors.linkColor"
                          [heading]="'Links'" 
                          (event)="setColor(article, 'link', $event)">
        </app-color-picker>
       </mat-expansion-panel>
     </div>
     <div fxFlex="10">
       <button mat-raised-button (click)="resetToDefault(article)">Reset</button>
     </div>
    </div>
</mat-card>